
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	text-align:center;
}

#section0 {
	background-size: cover;
	background-position: center;
	/* background-color: black; */
}

#section0 .list-group-item span {
	font-size:15px;
}

#section0 .list-group-item i {
	font-size:20px;
	opacity:0.4;
}
#section0 .stats-group .active .badge {
	color: #E2D693 !important;
}

#section1 {
	padding:0 80px;
	/* background-color: black; */
}

#section1 #slide0 {
	background-image: url("../images/banners/gcal.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide1 {
	background-image: url("../images/banners/timer.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide2 {
	background-image: url("../images/banners/calendar.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide3 {
	background-image: url("../images/banners/ranking.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide4 {
	background-image: url("../images/banners/tasks.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide5 {
	background-image: url("../images/banners/tickets.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide6 {
	background-image: url("../images/banners/treinamentoemfoco.jpg");
	background-size: cover;
	background-position: center;
}
#section2 {
	/* background-image: url("../images/index/stats3.jpg"); */
	background-image: url("../images/index/relax_focus.jpg");
	background-size: cover;
	background-position: center;
	background-color: black;
}
#section3 {
	/*background-image: url("../images/index/focus_group3.jpeg");*/
	background-size: cover;
	background-position: center;
	/* background-color: black; */
	padding:0 50px;
}
#section3 h2 {
	margin-bottom: 30px;
}

#section4 {
	/*background-image: url("../images/index/history1.jpeg");*/
	background-size: cover;
	background-position: center;
	/* background-color: black; */
}


.testimonials {
	/*padding: 30px;*/
	padding: 100px 0;
}
.testimonials-container {
	display: table-cell;
	vertical-align: middle;
	/*height: 280px;*/
}
.testimonials-container .thumbnail {
	border-radius: 15px !important;
	background-color: transparent;
	border:0;
}
.testimonials-container p {
	padding: 10px;
	color: #333 !important;
}
.testimonials-container .thumbnail p {
	border:0;
	background-color: #FFF !important;
	color: #333;
	border-radius: 15px;
	/*height: 180px;*/
	padding: 10px;
	font-size: 15px;
	text-align: justify;
	position: relative;
	/*font: bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	display: table-cell;
	vertical-align: middle;
}
.testimonials-container .thumbnail p:after { 
	content: '';
	position: absolute;
	bottom: 8px;
	right: 15%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #FFF;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px; 
}
.testimonials-container .thumbnail h3 {
	line-height: 30px;
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	margin:10px;
}
.testimonials-container .thumbnail a {
	font-family: motor4f;
	font-size: 20px;
	padding-left: 10px;
}

/**/
.brief-history {
	text-align: center;
	color: #000;
	margin-top: 18%;
	padding-right: 40px;
	/*
	padding: 100px 20px;
	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
	*/
}
.brief-history .popover-title {
	font-weight: 600;
	font-family: motor4f;
}
.brief-history span {
	letter-spacing: -6px;
	font-size: 60px;
}
.brief-history .btn {
	letter-spacing: 1px;
	margin-top: 20px;
	margin-right: -10px;
    margin-left: -6px;
}
